.btn {
	border: 2px solid var(--text-color);
	border-radius: 10px;
	display: inline-block;
	padding: 10px 20px;
	transition: .2s ease-in-out;
	
	&:hover {
		background-color: var(--text-color);
		color: var(--bg-color);
		opacity: 1;
	}
}