.btn {
	border: 2px solid var(--text-color);
	border-radius: 10px;
	display: inline-block;
	padding: 10px 20px;
	transition: .2s ease-in-out;

	&:link,
	&:active,
	&:visited {
		color: var(--text-color);
		text-decoration: none;
	}

	&:focus {
		color: var(--text-color);
	}
	
	&:hover {
		background-color: var(--text-color);
		color: var(--bg-color);
		opacity: 1;
	}
}