---
layout: "layouts/base.njk"
---

{{ content | safe }}

<section class="timeline">
	
	<div class="col col-40 col-first">
		
		<h2 class="hug">Work Experience</h2>
		
	</div>
	
	<div class="col col-60 col-last">
		
		<div class="timeline-entry">
			
			<p class="hug"><strong>Web Developer</strong></p>
			
			<p class="hug"><em>Websir, 2013 - Present</em></p>
			
			<ul>
				
				<li>HTML, CSS, JavaScript, PHP</li>
				
				<li>Wordpress, WooCommerce</li>
				
			</ul>
			
		</div>
		
	</div>
	
	<div class="col col-40 col-first">
		
		<h2 class="hug">Education</h2>
		
	</div>
	
	<div class="col col-60 col-last">
		
		<div class="timeline-entry">
			
			<p class="hug"><strong>BSc (Hons) Computer Games Technology</strong></p>
			
			<p class="hug"><em>University of Portsmouth, July 2013</em></p>
			
			<ul>
				
				<li>C++</li>
				
				<li>3D Modeling and Animation</li>
				
				<li>Game Design and Documentation</li>
				
				<li>Project Management and Producing</li>
				
				<li>Dissertation Titled: “A study into video game violence and its effect on game player behaviour and attitudes.”</li>
				
			</ul>
			
		</div>
		
		<div class="timeline-entry">
			
			<p class="hug"><strong>BTEC National Diploma for IT Practitioners</strong></p>
			
			<p class="hug"><em>Oxford & Cherwell Valley College, July 2010</em></p>
			
			<ul>
				
				<li>Web Development</li>
				
				<li>Video Game Development</li>
				
				<li>Mathematics</li>
				
				<li>Robotics</li>
				
			</ul>
			
		</div>
		
	</div>
	
</section>