---
layout: "layouts/base.njk"
---

<section class="page-header">
    
	<div class="section-label"><span class="mono">01 /</span> About</div>
    
	<h1 class="page-title">About <em>Matthew Allen</em></h1>
    
	<p class="page-subtitle">{{ excerpt }}</p>

</section>

<div class="divider"></div>

<section class="content-section">

	<div class="section-label"><span class="mono">02 /</span> Content</div>

	<div class="content">

		{{ content | safe }}

	</div>

</section>

<div class="divider"></div>

<section class="content-section">

	<div class="section-label"><span class="mono">03 /</span> Work Experience</div>

	<div class="content">

		<h2>Web Developer</h2>

		<p class="hug">Websir, 2013 - Present</p>

		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>PHP</li>
			<li>Wordpress</li>
			<li>WooCommerce</li>
		</ul>

	</div>

</section>

<div class="divider"></div>

<section class="content-section">

	<div class="section-label"><span class="mono">04 /</span> Education</div>

	<div class="content">

		<h2>BSc (Hons) Computer Games Technology</h2>

		<p class="hug">University of Portsmouth, July 2013</p>

		<ul>
			<li>C++</li>
			<li>3D Modeling and Animation</li>
			<li>Game Design and Documentation</li>
			<li>Project Management and Producing</li>
			<li>Dissertation Titled: “A study into video game violence and its effect on game player behaviour and attitudes.”</li>
		</ul>

		<h2 class="push">BTEC National Diploma for IT Practitioners</h2>

		<p class="hug">Oxford & Cherwell Valley College, July 2010</p>

		<ul>
			<li>Web Development</li>
			<li>Video Game Development</li>
			<li>Mathematics</li>
			<li>Robotics</li>
		</ul>

	</div>

</section>