---
layout: "layouts/base.njk"
---

<h1 class="hug">{{ title }}</h1>

{{ content | safe }}

<form action="https://api.staticforms.dev/submit" method="POST">
    <!-- Your API Key (replace with your actual key) -->
    <input type="hidden" name="apiKey" value="sf_93964dbe69c05a023151084b">

	<input type="text" name="honeypot" style="display:none">
	<input type="hidden" name="redirectTo" value="https://matthewallen.me/thank-you">
    
    <!-- Form fields -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>
    
    <button type="submit">Send Message</button>
  </form>