---
layout: layouts/base.njk
---

<section class="page-header">
    
	<div class="section-label"><span class="mono">01 /</span> Heading</div>
    
	<h1 class="page-title">{{ title }}</h1>
    
	<p class="page-subtitle">{{ excerpt }}</p>

</section>

<div class="divider"></div>

{{ content | safe }}