---
layout: layouts/base.njk
---

<div class="post">
    <div class="wrap">
        <img src="../../images/work/{{ image }}" alt="{{ title }}"/>
        <h1 class="hug">{{ title }}</h1>
        <div class="post-content">
            {{ content | safe }}
        </div>
        <p class="post-date">Posted on {{ date | postDate }}</p>
        <p class="hug categories">
            {% for category in categories %}
                <span>#{{ category }}</span>
            {% endfor %}
        </p>
    </div>
</div>