---
layout: "layouts/base.njk"
---

{{ content | safe }}
<section class="work">
    <ul>
        {%- for post in collections.work -%}
            <li>
                <a href="{{ post.url }}">
                    <div class="col-image">
                        <div class="image">
                            <img src="images/work/{{ post.data.image }}" alt="{{ post.data.title }}"/>
                        </div>
                    </div>
                    <div class="col-text">
                        <header>
                            <h3>{{ post.data.title }}</h3>
                            <p class="date">{{ post.data.date | postDate }}</p>
                        </header>
                        <p class="excerpt">{{ post.data.excerpt }}</p>
                    </div>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</section>