<a href="{{ post.url }}" class="project-item">

    <div class="project-meta">

        <span class="mono tag">
			{% for category in post.data.categories %}
				<span>{{ category }}</span>
			{% endfor %}
		</span>

        <span class="project-year">{{ post.data.date | postDate }}</span>

    </div>

    <h3>{{ post.data.title }}</h3>

    <p>{{ post.data.excerpt }}</p>

    <span class="arrow">→</span>
 
</a>